#title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 72px;
}
#crd-holder {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: auto;
  border: 2px solid black;
}

#scorebox {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 100px;
  justify-content: center;
  align-items: center;
  font-size: medium;
  border: 2px solid black;
}

#btn-holder {
  width: 100px;

  justify-content: center;
  align-items: center;
  margin: auto;
}

.card {
  margin: auto;
  width: 100px;
  min-width: 100px;
  cursor: pointer;
  flex: 1;
  object-fit: contain;
}

.card img {
  width: 100px;
  height: 100px;
  cursor: pointer;
  margin: auto;
  object-fit: contain;
}

.btn {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.btn:hover {
  background-color: yellow;
  color: black;
}
