#title {
}
#crd-holder {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
}

#gridbox {
  width: 200px;
  min-width: 200px;
  margin: 1%;
  cursor: pointer;
  flex: 1;
}

#gridbox img {
  min-height: 200px;
  min-width: 200px;
  cursor: pointer;
  object-fit: contain;
  margin: 0;
}
